{% extends 'base.html' %}

{% block title %}
    Admin Dashboard
{% endblock title %}

{% block navbar %}
    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
{% endblock navbar %}

{% block content %}
    
<h2>Admin Dashboard</h2>

<div class="row mt-4">
  <div class="col-md-3">
    <a href="/admin/products" class="btn btn-outline-primary w-100">View Products</a>
  </div>
  <div class="col-md-3">
    <a href="/admin/products/add" class="btn btn-outline-primary w-100">Add Product</a>
  </div>
</div>

{% endblock content %}